.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
  
.menu-box {
    width: 676px;
    height: 734px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(169, 122, 189, 0.15);
    backdrop-filter: blur(14px);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    position: relative;
}

.menu-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.menu-title {
    font-family: 'Bruno Ace SC';
    font-size: 36px;
    color: #F9FBFB;
    text-align: center;
    white-space: nowrap;
}

.menu-line {
    width: 72px;
    height: 1px;
    background-color: #F9FBFB;
}


.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.menu-btn {
    width: 357px;
    max-width: 90%;
    height: 68px;
    font-size: 22px;
    color: #FFFFFF;
    background: radial-gradient(
        40.34% 305.08% at 90.34% 67.19%, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0) 100%
    ), radial-gradient(
        66.48% 68.75% at 50% 31.25%, 
        rgba(255, 255, 255, 0.1) 0%, 
        rgba(255, 255, 255, 0) 100%
    ), radial-gradient(
        33% 82.75% at 31.25% 76.56%, 
        rgba(255, 255, 255, 0.219) 0%, 
        rgba(255, 255, 255, 0.036) 100%
    ), radial-gradient(
        66.95% 96.09% at 35.23% 0%, 
        #C243FE 0%, rgba(182, 47, 246, 0.12) 100%
    ), radial-gradient(
        84.9% 146.88% at 43.75% -31.25%, 
        rgba(170, 34, 156, 0.92) 24.16%, 
        rgba(162, 95, 248, 0.89) 84.89%
    ), #5B099B;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(218, 37, 156, 0.5);
}

.sign-in-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 18px 57px;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #F9FBFB;
    border-radius: 30px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background: rgba(249, 251, 251, 0.2);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .menu-box {
        height: auto;
        padding: 30px;
    }

    .menu-title {
        font-size: 28px;
    }

    .menu-line {
        width: 50px;
    }

    .menu-btn {
        height: 55px;
        font-size: 18px;
    }

    .sign-in-btn {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
}