.quest-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 806px;
    height: 734px;
    background: rgba(181, 163, 210, 0.15);
    border: 1px solid rgba(169, 122, 189, 0.15);
    backdrop-filter: blur(14px);
    border-radius: 27px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest-title {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 22px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.quest-title::before,
.quest-title::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: white;
}

.quest-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
    margin-top: 20px;
    width: 100%;
}

.quest-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.left, .right {
    width: 48%;
}

.quest-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 200px;
}

.quest-input label {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(249, 251, 251, 0.2);
    background: rgba(255, 255, 255, 0.1);
    color: black;
    font-size: 16px;
    outline: none;
}

.edit-tasks-btn {
    width: 200px;
    font-size: 16px;
    background: rgba(249, 251, 251, 0.2);
    color: white;
    border: 1px solid rgba(249, 251, 251, 0.5);
    cursor: pointer;
    padding: 12px;
    border-radius: 15px;
    text-align: center;
}

.create-quest-btn {
    position: absolute;
    width: 237.73px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 576.77px;
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 24px;
    background: #F9FBFB;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.go-back {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 660px;
    top: 681px;
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.tasks-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.tasks-container {
    max-height: 60vh;
    overflow-y: auto;
}

.task {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}